svg {
    shape-rendering: crispEdges;
}

.bar {
    fill: #01a1df;
}

.value {
    font-size: 12px;
    font-weight: 300;
    fill: #fff;
}

.label {
    font-size: 10px;
    fill: #333;
    cursor: pointer;
}

.axis {
    font-size: 12px;
}

    .axis path {
        fill: none;
    }

    .axis .tick line {
        display: none;
        stroke-width: 1;
        stroke: rgba(0, 0, 0, 0.1);
    }

.colX {
    fill: #ddd;
    shape-rendering: crispEdges;
}

.colY {
    fill: #fff;
    stroke: #ddd;
    stroke-dasharray: 3, 1;
}

.Ygrid .tick {
    stroke: #e0e0e0;
    stroke-width: 1px;
    shape-rendering: crispEdges;
    fill: none;
}
