svg {
    display: block;
    margin-bottom: 20px;
    width: 100%;
}

    svg .axis path {
        stroke: #000;
        shape-rendering: crispEdges;
    }

    svg .axis line {
        stroke: #000;
        shape-rendering: crispEdges;
    }

    svg .axis text {
        font-family: 'Open Sans', 'sans-serif';
        font-size: 10px;
        fill: #282828;
        font-weight: 500;
    }

    svg .domain {
        display: none;
    }

    svg .y1 {
        fill: #fff;
        stroke: orange;
        stroke-width: 2px;
    }

    svg .y2 {
        fill: #fff;
        stroke: red;
        stroke-width: 2px;
    }

    svg .y3 {
        fill: #fff;
        stroke: steelblue;
        stroke-width: 2px;
    }

    svg .line {
        stroke-width: 2px;
    }

        svg .line path {
            fill: none;
        }

    svg .legend {
        padding: 5px;
        font: 10px 'sans-serif';
        background: yellow;
        box-shadow: 2px 2px 1px #888;
        fill: red;
    }

    svg .title {
        font: 13px 'sans-serif';
    }

    svg .colX {
        stroke: #ddd;
        shape-rendering: crispEdges;
        stroke-width: 0;
        fill: #ddd;
    }

    svg .textYear {
        font-size: 14px;
        fill: #264a60;
        font-weight: 500;
    }

    svg .red-total {
        display: none;
        fill: red;
        opacity: 0.25;
        cursor: pointer;
    }

        svg .red-total.active {
            opacity: 0.5;
        }

    svg .red-point {
        display: none;
        fill: red;
    }

    svg div.tooltip {
        position: absolute;
        text-align: center;
        width: 50px;
        height: 10px;
        padding: 5px;
        font: 10px 'sans-serif';
        background: whiteSmoke;
        border: solid 1px #aaa;
        pointer-events: none;
        box-shadow: 2px 2px 1px #888;
    }

    svg .Xgrid .tick {
        stroke: #000;
        stroke-width: 2px;
        opacity: 0.1;
        shape-rendering: crispEdges;
    }

    svg .Ygrid .tick {
        stroke: #e0e0e0;
        stroke-width: 1px;
        shape-rendering: crispEdges;
    }

    svg .hightTextYear text {
        font-size: 14px;
        fill: #264a60;
        font-weight: 500;
    }

    svg .xText text {
        font-size: 12px;
        fill: #264a60;
        font-weight: 500;
    }

    svg .xTextQuarters text {
        font-size: 12px;
        fill: #282828;
        font-weight: 200;
    }

    svg.second {
        width: 838px;
    }
