<div class="container-fluid">
    <div class="row search-query-page">
        <app-nav menu-item="searchAlerts">Search Alerts</app-nav>
        <!-- Body Page -->
        <div class="main-container" data-jquery-augmentation>
            <div class="reg-acc search-bottom">
                <div class="over-too">
                    <div class="cover-all">
                        <div class="title">
                            <p class="text">Search Alerts</p>
                        </div>
                        <div class="main-search-data">
                            <!-- Reporter -->
                            <div class="cover-all-search">
                                <div class="group query-year one">
                                    <div class="tool-left">
                                        <p class="text ">Exporter</p>
                                        <div class="hover-tool">
                                            <a href="javascript:;" class="icons"></a>
                                            <div class="main-tool ">
                                                <div class="cover">
                                                    <p class="text">
                                                        <b>“Exporter” helps info :</b>
                                                        Lorem ipsum dolor sit amet, consec-
                                                        tetuer adipiscing elit, sed diam nonu-
                                                        mmy nibh euismod tincidunt ut laor-
                                                        eet dolore magna aliquam erat.
                                                    </p>
                                                    <a href="javascript:;">Ask Questions</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right-input when-choise">
                                        <div class="drop-full multi-line-options hide-text">
                                            <div class="sumo-dropdown-full">
                                                <select id="SelectBoxExporter" class="ignore hide" data-ng-model="vm.criteria.exporterCode"
                                                        single="single" data-placeholder="Select"
                                                        data-ng-options="item.code as item.fullNameWithCode for item in vm.countries"
                                                        required></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Group One -->
                                <div class="group two">
                                    <div class="tool-left">
                                        <p class="text">Importer</p>
                                        <div class="hover-tool">
                                            <a href="javascript:;" class="icons"></a>
                                            <div class="main-tool ">
                                                <div class="cover">
                                                    <p class="text">
                                                        <b>“Importer” helps info :</b>
                                                        Lorem ipsum dolor sit amet, consec-
                                                        tetuer adipiscing elit, sed diam nonu-
                                                        mmy nibh euismod tincidunt ut laor-
                                                        eet dolore magna aliquam erat.
                                                    </p>
                                                    <a href="javascript:;">Ask Questions</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right-input">
                                        <div class="drop-full multi-line-options hide-text">
                                            <select id="SelectBoxImporter" class="ignore hide" data-ng-model="vm.criteria.importerCode"
                                                    single="single" data-placeholder="Select"
                                                    data-ng-options="item.code as item.fullNameWithCode for item in vm.countries"
                                                    required></select>
                                        </div>
                                    </div>
                                </div>
                                <!-- Group Tow -->
                                <div class="group query-fisheries-product three">
                                    <div class="tool-left">
                                        <p class="text ">Commodity Product</p>
                                        <div class="hover-tool">
                                            <a href="javascript:;" class="icons"></a>
                                            <div class="main-tool ">
                                                <div class="cover">
                                                    <p class="text">
                                                        <b>“Commodity Product” helps info :</b>
                                                        Lorem ipsum dolor sit amet, consec-
                                                        tetuer adipiscing elit, sed diam nonu-
                                                        mmy nibh euismod tincidunt ut laor-
                                                        eet dolore magna aliquam erat.
                                                    </p>
                                                    <a href="javascript:;">Ask Questions</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right-input when-choise">
                                        <div class="drop-full hide-text multi-line-options">
                                            <select id="SelectBoxCommodity" class="ignore hide" data-ng-model="vm.criteria.commodityCode"
                                                    single="single" data-placeholder="Select"
                                                    data-ng-options="item.id as item.name for item in vm.commodities"
                                                    required></select>
                                        </div>
                                        <div class="cover-text-chose">
                                        </div>
                                    </div>
                                </div>
                                <!-- Group Three -->
                                <div class="group query-reporter-country four">
                                    <div class="tool-left">
                                        <p class="text ">Net Weight Difference ></p>
                                        <div class="hover-tool">
                                            <a href="javascript:;" class="icons"></a>
                                            <div class="main-tool ">
                                                <div class="cover">
                                                    <p class="text">
                                                        <b>“Net Weight Difference >” helps info :</b>
                                                        Lorem ipsum dolor sit amet, consec-
                                                        tetuer adipiscing elit, sed diam nonu-
                                                        mmy nibh euismod tincidunt ut laor-
                                                        eet dolore magna aliquam erat.
                                                    </p>
                                                    <a href="javascript:;">Ask Questions</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right-input when-choise">
                                        <div class="drop-full hide-text">
                                            <input type="text" placeholder="Enter" class="quye" data-ng-model="vm.criteria.minVolumeChange">
                                        </div>
                                        <div class="cover-text-chose">
                                        </div>
                                    </div>
                                </div>
                                <div class="group query-reporter-country four">
                                    <div class="tool-left">
                                        <p class="text ">Import/Export NetWeightKg ></p>
                                        <div class="hover-tool">
                                            <a href="javascript:;" class="icons"></a>
                                            <div class="main-tool ">
                                                <div class="cover">
                                                    <p class="text">
                                                        <b>“Import/Export NetWeightKg > :” helps info :</b>
                                                        Lorem ipsum dolor sit amet, consec-
                                                        tetuer adipiscing elit, sed diam nonu-
                                                        mmy nibh euismod tincidunt ut laor-
                                                        eet dolore magna aliquam erat.
                                                    </p>
                                                    <a href="javascript:;">Ask Questions</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right-input when-choise">
                                        <div class="drop-full hide-text">
                                            <input type="text" placeholder="Enter" class="quye" data-ng-model="vm.criteria.minImportExportDiscrepancy">
                                        </div>
                                        <div class="cover-text-chose">
                                        </div>
                                    </div>
                                </div>
                                <!-- Group Four -->
                                <div class="group five">
                                    <div class="tool-left">
                                        <p class="text ">Trade Value</p>
                                        <div class="hover-tool">
                                            <a href="javascript:;" class="icons"></a>
                                            <div class="main-tool ">
                                                <div class="cover">
                                                    <p class="text">
                                                        <b>“Trade Value” helps info :</b>
                                                        Lorem ipsum dolor sit amet, consec-
                                                        tetuer adipiscing elit, sed diam nonu-
                                                        mmy nibh euismod tincidunt ut laor-
                                                        eet dolore magna aliquam erat.
                                                    </p>
                                                    <a href="javascript:;">Ask Questions</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right-input">
                                        <div class="drop-full hide-text">
                                            <input type="text" placeholder="Enter" class="quye" data-ng-model="vm.criteria.minValue">
                                        </div>
                                    </div>
                                </div>
                                <!-- Group Five -->
                                <!-- Group Eight -->
                                <div class="group night">
                                    <div class="tool-left">
                                        <p class="text ">Alert Type</p>
                                        <div class="hover-tool">
                                            <a href="javascript:;" class="icons"></a>
                                            <div class="main-tool ">
                                                <div class="cover">
                                                    <p class="text">
                                                        <b>“Alert Type” helps info :</b>
                                                        Lorem ipsum dolor sit amet, consec-
                                                        tetuer adipiscing elit, sed diam nonu-
                                                        mmy nibh euismod tincidunt ut laor-
                                                        eet dolore magna aliquam erat.
                                                    </p>
                                                    <a href="javascript:;">Ask Questions</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right-input">
                                        <div class="drop-full">
                                            <select class="dropdown-show wide" data-nice-select data-ng-model="vm.criteria.alertType">
                                                <option value="ImportExportDiscrepancy">Import/Export Mismatch</option>
                                                <option value="VolumeChanges">Trade volume changes</option>
                                                <option value="ImportExportDiscrepancyAndVolumeChanges">Both Import/Export &amp; Trade volume</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!-- Group Night -->
                                <div class="bottom-btn only-for-search single-btn">
                                    <a href="javascript:;" class="export run-search" data-ng-click="vm.search()">Filter Alerts</a>
                                </div>
                            </div>
                        </div>

                        <div id="query-results-section" class="alert-table-list" data-ng-show="vm.showSearchResults">
                            <div class="title">
                                <p class="text">Query Results</p>
                            </div>
                            <p class="display">
                                Displaying {{vm.displayFromIndex}} - {{vm.displayToIndex}} of {{vm.totalItems}} Search Alerts
                            </p>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td>
                                            <a href="javascript:;" data-ng-click="vm.sort('CommodityCode', !vm.sortAscending)">Commodity Code</a>
                                        </td>
                                        <td class="commodoty-name">
                                            <a href="javascript:;" data-ng-click="vm.sort('CommodityCode', !vm.sortAscending)">Commodity Name</a>
                                        </td>
                                        <td>
                                            <a href="javascript:;" data-ng-click="vm.sort('Year', !vm.sortAscending)">Year</a>
                                        </td>
                                        <td>
                                            <a href="javascript:;" data-ng-click="vm.sort('ExporterCode', !vm.sortAscending)">Exporter Country Code</a>
                                        </td>
                                        <td class="country-name">
                                            <a href="javascript:;" data-ng-click="vm.sort('ExporterCode', !vm.sortAscending)">Exporter Country Name</a>
                                        </td>
                                        <td>
                                            <a href="javascript:;" data-ng-click="vm.sort('ImporterCode', !vm.sortAscending)">Importer Country Code</a>
                                        </td>
                                        <td class="country-name">
                                            <a href="javascript:;" data-ng-click="vm.sort('ImporterCode', !vm.sortAscending)">Importer Country Name</a>
                                        </td>
                                        <td>
                                            <a href="javascript:;">Detail</a>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="al in vm.alerts">
                                        <td>{{al.commodityCode}}</td>
                                        <td>{{vm.getCommodityById(al.commodityCode).trimmedName}}</td>
                                        <td>{{al.year}}</td>
                                        <td>{{al.exporterCode}}</td>
                                        <td>{{vm.getCountryByCode(al.exporterCode).fullName}}</td>
                                        <td>{{al.importerCode}}</td>
                                        <td>{{vm.getCountryByCode(al.importerCode).fullName}}</td>
                                        <td><a data-ng-click="vm.viewDetail(al)" class="btn-filter">View Detail</a></td>
                                    </tr>

                                </tbody>
                            </table>

                            <div class="clear"></div>
                            <div class="custom-pagination-container">
                                <custom-pagination current-page="vm.currentPage" default-page-size="21" total-items="{{ vm.totalItems }}" show-ellipsis="{{ true }}" on-change-page="vm.changePage"></custom-pagination>
                            </div>
                            <p class="fine-print top-margin">Data is compiled from UN Comtrade data.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Reg Page -->
        </div>
        <!-- End Body Page -->
        <app-footer></app-footer>
    </div>
</div>

