<!-- Footer -->
<footer>
  <div class="cover-footer">
    <div class="group-one">
      <div class="logo">
        <a href="javascript:;" class="bear"></a>
      </div>
    </div>
    <div class="group-one text">
      <p class="text-line">
        © 2017 World Wildlife Fund
        All Rights Reserved
        <br>
        <span id="app-version"></span>
      </p>
    </div>
    <nav class="navi-foot group-one">
      <ul>
        <li><a target="_blank" href="http://www.worldwildlife.org/pages/site-terms">Site Terms</a></li>
        <li><a target="_blank" href="http://www.worldwildlife.org/pages/state-disclosures">State Disclosures</a></li>
        <li><a target="_blank" href="http://www.worldwildlife.org/pages/privacy-policy">Privacy Policy</a></li>
      </ul>
    </nav>
  </div>
</footer>
<!-- End Footer -->
