<div class="container-fluid">
    <div class="row search-query-page" data-jquery-augmentation>
        <app-nav menu-item="searchData">Search Data</app-nav>
        <!-- Body Page -->
        <div class="main-container">
            <div class="reg-acc search-bottom">
                <div class="over-too">
                    <div class="cover-all">
                        <div class="title">
                            <p class="text">Search Data</p>
                        </div>
                        <div class="main-search-data">
                            <div class="cover-all-search">
                                <!-- Period -->
                                <div class="group query-year one">
                                    <div class="tool-left">
                                        <p class="text ">Periods (Year)</p>
                                        <div class="hover-tool">
                                            <a href="javascript:;" class="icons"></a>
                                            <div class="main-tool ">
                                                <div class="cover">
                                                    <p class="text">
                                                        <b>“Periods” helps info :</b>
                                                        Lorem ipsum dolor sit amet, consec-
                                                        tetuer adipiscing elit, sed diam nonu-
                                                        mmy nibh euismod tincidunt ut laor-
                                                        eet dolore magna aliquam erat.
                                                    </p>
                                                    <a href="javascript:;">Ask Questions</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right-input when-choise">
                                        <div class="drop-small hide-text">
                                            <select data-ng-model="query.yearStart"
                                                    data-ng-options="year for year in periodYears"
                                                    class="dropdown-show ignore yearStart wide" required></select>
                                        </div>
                                        <span class="border">
                                            -
                                        </span>
                                        <div class="drop-small hide-text">
                                            <select data-ng-model="query.yearEnd"
                                                    data-ng-options="year for year in periodYears"
                                                    class="dropdown-show ignore yearEnd wide" required></select>
                                        </div>
                                        <div class="cover-text-chose">
                                        </div>
                                    </div>
                                </div>
                                <!-- Commodities -->
                                <div class="group query-fisheries-product three">
                                    <div class="tool-left">
                                        <p class="text ">Fisheries Product</p>
                                        <div class="hover-tool">
                                            <a href="javascript:;" class="icons"></a>
                                            <div class="main-tool ">
                                                <div class="cover">
                                                    <p class="text">
                                                        <b>“Periods” helps info :</b>
                                                        Lorem ipsum dolor sit amet, consec-
                                                        tetuer adipiscing elit, sed diam nonu-
                                                        mmy nibh euismod tincidunt ut laor-
                                                        eet dolore magna aliquam erat.
                                                    </p>
                                                    <a href="javascript:;">Ask Questions</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right-input when-choise">
                                        <div class="drop-full multi-line-options hide-text search-page-show-tool second-edit">
                                            <select id="SelectBoxCommodities" class="second-edit ignore hide" ng-model="query.commodityCodes"
                                                    multiple="multiple"
                                                    data-ng-options="item.id as item.name for item in commodoties"
                                                    required></select>
                                            <div class="tool-tip">
                                                <div class="cover">
                                                    <p class="name">12345 - Species Name</p>
                                                    <p class="text-detail">
                                                        Lorem ipsum dolor sit amet consecte
                                                        adipiscing elit. Aenean euismod bibe
                                                        laoreet proin gravida dolor.
                                                    </p>
                                                    <p class="name-number">
                                                        Alternative HTS Code
                                                    </p>
                                                    <p class="number">
                                                        12345, 67890, 13579, 24680
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cover-text-chose">
                                            <p class="text-chose" data-ng-repeat="item in query.commodityCodes" title="{{vm.getCommodityById(item).name}}">
                                                {{vm.getCommodityById(item).name}}
                                                <a class="icons ignore" href="javascript:;"></a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="right-input">
                                        <div class="check-here">
                                            <div class="custommer">
                                                <input type="checkbox" id="onlyWildCaughtCheckBox" data-ng-model="onlyWildCaught" data-ng-click="vm.filterCommodities()" />
                                                <label for="onlyWildCaughtCheckBox">Wild Caught Commodities Only</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Importer(s) -->
                                <div class="group query-reporter-country four">
                                    <div class="tool-left">
                                        <p class="text ">Importer(s)</p>
                                        <div class="hover-tool">
                                            <a href="javascript:;" class="icons"></a>
                                            <div class="main-tool ">
                                                <div class="cover">
                                                    <p class="text">
                                                        <b>“Periods” helps info :</b>
                                                        Lorem ipsum dolor sit amet, consec-
                                                        tetuer adipiscing elit, sed diam nonu-
                                                        mmy nibh euismod tincidunt ut laor-
                                                        eet dolore magna aliquam erat.
                                                    </p>
                                                    <a href="javascript:;">Ask Questions</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right-input when-choise">
                                        <div class="drop-full multi-line-options">
                                            <select id="SelectBoxReporter" class="ignore hide" ng-model="query.importerCountryCodes"
                                                    multiple="multiple" data-placeholder="Select"
                                                    data-ng-options="item.code as item.fullName for item in countries"
                                                    required></select>
                                        </div>
                                        <div class="cover-text-chose">
                                            <p class="text-chose" data-ng-repeat="item in query.importerCountryCodes" title="{{vm.getCountryByCode(item).fullName}}">
                                                {{vm.getCountryByCode(item).fullName}}
                                                <a class="icons ignore" href="javascript:;"></a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Exporter(s) -->
                                <div class="group query-partner-country six">
                                    <div class="tool-left">
                                        <p class="text ">Exporter(s)</p>
                                        <div class="hover-tool">
                                            <a href="javascript:;" class="icons"></a>
                                            <div class="main-tool ">
                                                <div class="cover">
                                                    <p class="text">
                                                        <b>“Periods” helps info :</b>
                                                        Lorem ipsum dolor sit amet, consec-
                                                        tetuer adipiscing elit, sed diam nonu-
                                                        mmy nibh euismod tincidunt ut laor-
                                                        eet dolore magna aliquam erat.
                                                    </p>
                                                    <a href="javascript:;">Ask Questions</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right-input when-choise">
                                        <div class="drop-full multi-line-options">
                                            <select id="SelectBoxPartner" class="ignore hide" ng-model="query.exporterCountryCodes"
                                                    multiple="multiple" data-placeholder="Select"
                                                    data-ng-options="item.code as item.fullName for item in countries"
                                                    required></select>
                                        </div>
                                        <div class="cover-text-chose">
                                            <p class="text-chose" data-ng-repeat="item in query.exporterCountryCodes" title="{{vm.getCountryByCode(item).fullName}}">
                                                {{vm.getCountryByCode(item).fullName}}
                                                <a class="icons ignore" href="javascript:;"></a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Display Trade By -->
                                <div class="group seven">
                                    <div class="tool-left">
                                        <p class="text ">Display Trade By</p>
                                        <div class="hover-tool">
                                            <a href="javascript:;" class="icons"></a>
                                            <div class="main-tool ">
                                                <div class="cover">
                                                    <p class="text">
                                                        <b>“Periods” helps info :</b>
                                                        Lorem ipsum dolor sit amet, consec-
                                                        tetuer adipiscing elit, sed diam nonu-
                                                        mmy nibh euismod tincidunt ut laor-
                                                        eet dolore magna aliquam erat.
                                                    </p>
                                                    <a href="javascript:;">Ask Questions</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right-input">
                                        <div class="check-here">
                                            <div class="custommer">
                                                <input type="radio" id="radio0111" name="radio1212" data-ng-model="query.tradeBy" value="volume" />
                                                <label for="radio0111"><span></span>Trade Volume</label>
                                            </div>
                                            <div class="custommer">
                                                <input type="radio" id="radio02222" name="radio1212" data-ng-model="query.tradeBy" value="value" />
                                                <label for="radio02222"><span></span>Trade Value</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Query Name -->
                                <div class="group night" data-ng-show="userInfo.isLoggedIn">
                                    <div class="tool-left">
                                        <p class="text ">Query Name</p>
                                        <div class="hover-tool">
                                            <a href="javascript:;" class="icons"></a>
                                            <div class="main-tool ">
                                                <div class="cover">
                                                    <p class="text">
                                                        <b>“Periods” helps info :</b>
                                                        Lorem ipsum dolor sit amet, consec-
                                                        tetuer adipiscing elit, sed diam nonu-
                                                        mmy nibh euismod tincidunt ut laor-
                                                        eet dolore magna aliquam erat.
                                                    </p>
                                                    <a href="javascript:;">Ask Questions</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right-input">
                                        <div class="drop-full multi-line-options">
                                            <input type="text" placeholder="Enter" class="quye" data-ng-model="query.name">
                                        </div>
                                    </div>
                                </div>
                                <!-- Buttons -->
                                <div class="bottom-btn only-for-search">
                                    <a data-ng-show="userInfo.isLoggedIn" data-ng-click="vm.save()" class="export clone">Save Query</a>
                                    <a data-ng-click="vm.search()" class="export">Run Query</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Reg Page -->
        </div>
        <!-- End Body Page -->
        <app-footer></app-footer>
    </div>

    <!-- Popups -->
    <message show-message="vm.showMessage" message-title="vm.messageTitle" message-text="vm.messageText"></message>
</div>
