  <!-- Start Hot topics  -->
<div class="notificate" data-ng-class="{active: vm.showHotTopics}">
    <div class="head">
        <p class="title">Hot Topics</p>
        <div class="tool">
            <a class="hide-unless" data-ng-click="vm.showHotTopics = !vm.showHotTopics">Hide</a>
            <a class="hide-unless clone" data-ng-click="vm.showHotTopics = !vm.showHotTopics">Expand</a>
        </div>
    </div>
    <div class="clear"></div>
    <div class="body no-padding no-scroll">
        <ul class="list">
            <li data-ng-repeat="post in vm.hotTopics">
                <p class="img"><img data-ng-src="images/i/{{ $index + 1 }}.png" alt="Hot topic ranking" /></p>
                <div class="hot-topic">
                    <p class="title"><a href="javascript:;" ui-sref="forumpost({id: '{{post.sys.id}}'})">{{post.fields.title | limitTo: 32}}{{post.fields.title.length > 32 ? ' ...' : ''}}</a></p>
                    <p class="last-reply">Last reply: <a  ng-href="/publicprofile/{{ post.fields.author }}">{{ post.fields.author }}</a></p>
                    <p class="when">{{ post.when }}</p>
                </div>
                <div class="latest-post-img">
                    <img src="images/i/post.png" alt="Comments" />
                    <span>{{ post.fields.comments.length }}</span>
                </div>
            </li>
        </ul>
    </div>
    <div class="see-all" data-ng-show="!vm.showHotTopics">
        <a href="javascript:;" class="see">See All Hot Topics</a>
    </div>
</div>
<!-- End Hot topics  -->