 <!-- Start Latest posts  -->
<div class="notificate" data-ng-class="{active: vm.showLatestPosts}">
    <div class="head">
        <p class="title">Latest Posts</p>
        <div class="tool">
            <a class="hide-unless" data-ng-click="vm.showLatestPosts = !vm.showLatestPosts">Hide</a>
            <a class="hide-unless clone" data-ng-click="vm.showLatestPosts = !vm.showLatestPosts">Expand</a>
        </div>
    </div>
    <div class="clear"></div>
    <div class="body no-padding no-scroll">
        <ul class="list">
            <li data-ng-repeat="post in vm.latestPosts">
                <div class="latest-posts">
                    <p class="title"><a href="javascript:;" ui-sref="forumpost({id: '{{post.sys.id}}'})">{{ post.fields.title }}</a></p>
                    <p class="secondary">{{ post.thread }} <span class="when">{{ post.when }}</span></p>
                </div>
            </li>
        </ul>
    </div>
    <div class="see-all" data-ng-show="!vm.showLatestPosts">
        <a href="javascript:;" class="see">See All Latest Posts</a>
    </div>
</div>
<!-- End Latest posts  -->