<div class="how-many">
    <p class="text">Show</p>
    <div class="number">
        <select class="dropdown-show wide dropdownPageSize" data-nice-select data-ng-model="vm.pageSize" data-ng-change="vm.setPage(1)">
            <option value="5">5</option>
            <option value="21">21</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
        <p class="curent">
            <a href="javascript:;" class="up icons"></a>
            <a href="javascript:;" class="down icons"></a>
        </p>
    </div>
    <p class="text">per page</p>
</div>
<div class="custom-pagination-container">
    <div class="custom-pagination">
        <ul>
            <li>
                <a data-ng-click="vm.previousPage()">
                    <i class="icons"></i>
                </a>
            </li>
            <li data-ng-repeat="page in vm.getPageNumbers()" class="number " data-ng-class="{ active: page === vm.currentPage }">
                <a data-ng-click="vm.setPage(page)">{{ page }}</a>
            </li>
            <li>
                <a data-ng-click="vm.nextPage()">
                    <i class="icons"></i>
                </a>
            </li>
        </ul>
    </div>
</div>