<div class="over-lay" data-ng-class="{ show: !!vm.showMessage }" data-ng-click="vm.showMessage = !vm.showMessage"></div>
<!-- Dark Overlay -->
<div class="setting-dash auto-height" data-ng-class="{ hide: !vm.showMessage }">
    <div class="title">
        <p>
            {{vm.messageTitle}}
        </p>
    </div>
    <div class="main-popup">
        <div class="cover-all">
            <div class="country">
                <p class="lable confirmation">{{vm.messageText}}</p>
            </div>
            <div class="btn-bottom centered">
                <a class="save" data-ng-click="vm.showMessage = false">OK</a>
            </div>
        </div>
    </div>
</div>