<div class="container-fluid">
    <div class="row">

        <!-- Application navigation -->
        <app-nav>Forgot Password</app-nav>
        <!-- Body Page -->
        <div class="main-container">
            <div class="reg-acc fix-footer">
                <div class="over-too">
                    <div class="cover-all">
                        <div class="title">
                            <p class="text">{{vm.passwordResetKey ? 'Reset Password' : 'Forgot Password'}}</p>
                        </div>
                        <div class="main-input">
                            <form name="myForm">
                                <div class="group" data-ng-if="!vm.passwordResetKey">
                                    <p class="title-input">
                                        Enter Username or Email
                                    </p>
                                    <div class="cover-input">
                                        <p class="label-input">Username/Email</p>
                                        <input name="username" ng-model="vm.username" class="input" type="text" placeholder="Username/Email" required maxlength="40" />
                                        <div ng-messages="vm.scope.myForm.username.$error" ng-if="vm.scope.myForm.username.$dirty">
                                            <p class="validation-label" ng-message="required">Field is required.</p>
                                        </div>
                                    </div>
                                    <a href="javascript:;" ng-click="vm.requestPasswordReset()" class="btn-reg">Submit</a>
                                </div>

                                <!--  Group One -->
                                <div class="group" data-ng-if="vm.passwordResetKey">
                                    <p class="title-input">
                                        Enter New Password
                                    </p>
                                    <!-- Password -->
                                    <div class="cover-input">
                                        <p class="label-input">New Password</p>
                                        <input name="password" ng-model="vm.user.password" class="input" type="password" placeholder="Password" required minlength="6" maxlength="20" />
                                        <div ng-messages="vm.scope.myForm.password.$error" ng-if="vm.scope.myForm.password.$dirty">
                                            <p class="validation-label" ng-message="required">Password is required.</p>
                                            <p class="validation-label" ng-message="minlength">Password should be at least 6 characters long.</p>
                                        </div>
                                    </div>
                                    <!-- Confirm PassWord -->
                                    <div class="cover-input">
                                        <p class="label-input">Confirm New Password</p>
                                        <input name="confirmPassword" ng-model="vm.user.confirmPassword" class="input" type="password" placeholder="Confirm Password" required confirm-password-validation maxlength="20" />
                                        <div ng-messages="vm.scope.myForm.confirmPassword.$error" ng-if="vm.scope.myForm.confirmPassword.$dirty">
                                            <p class="validation-label" ng-message="required">Confirm Password is required.</p>
                                            <p class="validation-label" ng-message="passwordMismatch">Password doesn't match confirm password.</p>
                                        </div>
                                    </div>
                                    <a href="javascript:;" ng-click="vm.resetPassword()" class="btn-reg">Submit</a>
                                </div>
                                <!--  Group One -->

                            </form>
                        </div>
                    </div>
                </div>
                <div class="sub-footer gradien">
                    <div class="cover">
                        <p class="title">
                            Do you already have an account ?
                        </p>
                        <div class="clear"></div>
                        <a href="javascript:;" class="login-btn login-btn-register" ng-click="vm.login()">Login</a>
                    </div>
                </div>
            </div>
            <!-- Reg Page -->
        </div>
        <!-- End Body Page -->
        <!-- End Body Page -->
        <app-footer></app-footer>
    </div>

    <!-- Popups -->
    <message show-message="vm.showMessage" message-title="vm.messageTitle" message-text="vm.messageText"></message>
</div>
