<div class="container-fluid">
    <div class="row">
        <app-nav>My Profile</app-nav>
        <!-- Body Page -->
        <div class="main-container profile-page">
            <div class="reg-acc profile">
                <div class="over-too">
                    <div class="cover-all">
                        <div class="title">
                            <p class="text">My Profile</p>
                            <div class="right-btn" data-ng-if="viewMode">
                                <a href="javascript:;" class="btn-edit" data-ng-click="edit()">Edit Profile</a>
                                <span class="border"></span>
                                <a data-ng-if="user.isAdmin" href="javascript:;" class="btn-add" ui-sref="adminprofile">Admin</a>
                                <a href="javascript:;" class="btn-view" ui-sref="publicprofile({username: '{{user.username}}'})" ng-if="user.username">View Public Profile</a>
                            </div>
                        </div>
                        <div class="main-input">
                            <form name="myForm">
                                <div class="group">
                                    <div class="avatar">
                                        <a href="javascript:;" class="img">
                                            <img data-ng-show="!user.photo && !user.photoUrl" src="images/i/03-ava.png" alt="profile image">
                                            <img data-ng-show="!user.photo && !!user.photoUrl" data-ng-src="{{user.photoUrl}}" alt="profile image">
                                            <img data-ng-show="!!user.photo" data-ng-src="{{user.photo}}" alt="profile image">
                                        </a>
                                        <a data-ng-show="!viewMode" href="javascript:;" class="pen" onclick="document.getElementById('inputPhoto').click()">
                                            <i class="icons"></i>
                                            <input id="inputPhoto" class="hide" type="file" image-select="onFileSelect($files)">
                                        </a>
                                    </div>
                                    <p class="title-input">
                                        ACCOUNT INFORMATION
                                    </p>
                                    <div data-ng-if="!!user.username" class="cover-input">
                                        <p class="label-input">Username</p>
                                        <p class="text-infor">: {{user.username}}</p>
                                    </div>
                                    <!-- Use Name -->
                                    <div data-ng-if="!!user.username" class="cover-input">
                                        <p class="label-input">Password</p>
                                        <input data-ng-hide="viewMode" name="password" data-ng-model="user.password" data-ng-focus="passwordFocused()"
                                               class="input" type="password" placeholder="Password" minlength="6" maxlength="20" />
                                        <div data-ng-hide="viewMode" data-ng-messages="myForm.password.$error" data-ng-if="myForm.password.$dirty">
                                            <p class="validation-label" data-ng-message="required">Password is required.</p>
                                            <p class="validation-label" data-ng-message="minlength">Password should be at least 6 characters long.</p>
                                        </div>
                                        <p data-ng-show="viewMode" class="text-infor">: <span class="pass">......</span></p>
                                    </div>
                                    <!-- Password -->
                                    <div data-ng-if="!!user.username" class="cover-input">
                                        <p class="label-input">Confirm Password</p>
                                        <input data-ng-hide="viewMode" name="confirmPassword" data-ng-model="user.confirmPassword" data-ng-focus="passwordFocused()"
                                               class="input" type="password" placeholder="Confirm Password" confirm-password-validation maxlength="20" />
                                        <div data-ng-hide="viewMode" data-ng-messages="myForm.confirmPassword.$error" data-ng-if="myForm.confirmPassword.$dirty">
                                            <p class="validation-label" data-ng-message="required">Confirm Password is required.</p>
                                            <p class="validation-label" data-ng-message="passwordMismatch">Password doesn't match confirm password.</p>
                                        </div>
                                        <p data-ng-show="viewMode" class="text-infor">: <span class="pass">......</span></p>
                                    </div>
                                    <!-- Confirm PassWord -->
                                </div>
                                <!--  Group One -->
                                <div class="group clone">
                                    <p class="title-input">
                                        CONTACT INFORMATION
                                    </p>
                                    <div class="cover-input check-box-header">
                                        <div class="label-input">Display in Public Profile</div>
                                    </div>
                                    <div class="check-box">
                                        <input type="checkbox" id="name" ng-model="vm.publicFields.name" data-ng-disabled="viewMode" />
                                        <label for="name" title="Show on Public Profile"></label>
                                    </div>
                                    <div class="cover-input">
                                        <p class="label-input">Name</p>
                                        <input data-ng-hide="viewMode" name="firstName" data-ng-model="user.firstName" class="input-small" type="text" placeholder="First Name" maxlength="60" required />
                                        <input data-ng-hide="viewMode" name="lastName" data-ng-model="user.lastName" class="input-small" type="text" placeholder="Last Name" maxlength="60" required />
                                        <div data-ng-hide="viewMode" data-ng-messages="myForm.firstName.$error" data-ng-if="myForm.firstName.$dirty">
                                            <p class="validation-label" data-ng-message="required">First Name is required.</p>
                                        </div>
                                        <div data-ng-hide="viewMode" data-ng-messages="myForm.lastName.$error" data-ng-if="myForm.lastName.$dirty">
                                            <p class="validation-label" data-ng-message="required">Last Name is required.</p>
                                        </div>
                                        <p data-ng-show="viewMode" class="text-infor">: {{user.firstName}} {{user.lastName}}</p>
                                    </div>
                                    <!-- User Name -->
                                    <div class="check-box">
                                        <input type="checkbox" id="title" ng-model="vm.publicFields.title" data-ng-disabled="viewMode" />
                                        <label for="title" title="Show on Public Profile"></label>
                                    </div>
                                    <div class="cover-input title-value">
                                        <p class="label-input">Title</p>
                                        <input data-ng-hide="viewMode" data-ng-model="user.title" class="input" type="text" placeholder="Title" maxlength="20" />
                                        <p data-ng-show="viewMode" class="text-infor">: {{user.title}}</p>
                                    </div>
                                    <!-- Title -->
                                    <div class="check-box">
                                        <input type="checkbox" id="organization" ng-model="vm.publicFields.organization" data-ng-disabled="viewMode" />
                                        <label for="organization" title="Show on Public Profile"></label>
                                    </div>
                                    <div class="cover-input">
                                        <p class="label-input">Organization</p>
                                        <input data-ng-hide="viewMode" data-ng-model="user.organization" class="input" type="text" placeholder="Organization" maxlength="40" />
                                        <p data-ng-show="viewMode" class="text-infor">: {{user.organization}}</p>
                                    </div>
                                    <!-- Organization -->
                                    <div class="check-box">
                                        <input type="checkbox" id="country" ng-model="vm.publicFields.country" data-ng-disabled="viewMode" />
                                        <label for="country" title="Show on Public Profile"></label>
                                    </div>
                                    <div class="cover-input">
                                        <p class="label-input">Country</p>
                                        <div data-ng-hide="viewMode" class="small-drop-down-here hide-text">
                                            <select name="country" data-ng-model="user.countryId" placeholder="Country"
                                                    data-ng-options="country.id as country.name for country in countries"
                                                    data-ng-selected="1" class="dropdown-show wide" required></select>
                                        </div>
                                        <div data-ng-messages="myForm.country.$error" data-ng-if="myForm.country.$dirty">
                                            <p class="validation-label" data-ng-message="required">Country is required.</p>
                                        </div>
                                        <p data-ng-show="viewMode" class="text-infor">: {{getCountryName(user.countryId)}}</p>
                                    </div>
                                    <!-- State -->
                                    <div class="check-box">
                                        <input type="checkbox" id="phone" ng-model="vm.publicFields.phone" data-ng-disabled="viewMode"/>
                                        <label for="phone" title="Show on Public Profile"></label>
                                    </div>
                                    <div class="cover-input">
                                        <p class="label-input">Phone</p>
                                        <input data-ng-hide="viewMode" data-ng-model="user.phone" class="input" type="tel" placeholder="Phone" maxlength="20" />
                                        <p data-ng-show="viewMode" class="text-infor">: {{user.phone}}</p>
                                    </div>
                                    <!-- Phone -->
                                    <div class="check-box">
                                        <input type="checkbox" id="email" ng-model="vm.publicFields.email" data-ng-disabled="viewMode" />
                                        <label for="email" title="Show on Public Profile"></label>
                                    </div>
                                    <div class="cover-input">
                                        <p class="label-input">Email</p>
                                        <input data-ng-hide="viewMode" name="email" data-ng-model="user.email" class="input" type="email" placeholder="Email" maxlength="255" required />
                                        <div data-ng-hide="viewMode" data-ng-messages="myForm.email.$error" data-ng-if="myForm.email.$dirty">
                                            <p class="validation-label" data-ng-message="required">Email is required.</p>
                                            <p class="validation-label" data-ng-message="email">Enter a valid email address.</p>
                                        </div>
                                        <p data-ng-show="viewMode" class="text-infor">: {{user.email}}</p>
                                    </div>
                                    <!-- Email -->
                                    <div class="check-box">
                                        <input type="checkbox" id="twitter" ng-model="vm.publicFields.twitter" data-ng-disabled="viewMode" />
                                        <label for="twitter" title="Show on Public Profile"></label>
                                    </div>
                                    <div class="cover-input">
                                        <p class="label-input">Twitter</p>
                                        <input data-ng-hide="viewMode" data-ng-model="user.twitter" class="input" type="text" placeholder="Twitter" maxlength="30" />
                                        <p data-ng-show="viewMode" class="text-infor">: {{user.twitter}}</p>
                                    </div>
                                    <!-- Twitter -->
                                </div>
                                <!--  Group Two -->
                                <div class="group clone">
                                    <p class="title-input">
                                        SETTINGS
                                    </p>
                                    <div class="cover-input">
                                        <p class="label-input">Net weight discrepancy threshold</p>
                                        <input data-ng-hide="viewMode" data-ng-model="user.weightDiscrepancyThreshold" class="input" type="number" placeholder="Set threshold percentage" maxlength="5" />
                                        <p data-ng-show="viewMode" class="text-infor">: {{user.weightDiscrepancyThreshold}}</p>
                                    </div>
                                    <!-- Organization -->
                                    <div class="cover-input">
                                        <p class="label-input">Volume changes threshold</p>
                                        <input data-ng-hide="viewMode" data-ng-model="user.volumeChangesThreshold" class="input" type="number" placeholder="Set threshold percentage" maxlength="5" />
                                        <p data-ng-show="viewMode" class="text-infor">: {{user.volumeChangesThreshold}}</p>
                                    </div>
                                </div>
                                <!--  Group Three -->
                                <div data-ng-show="!viewMode" class="btn-bottom">
                                    <a href="javascript:;" data-ng-click="save()" class="save">Save</a>
                                    <a href="javascript:;" data-ng-click="cancel()" class="cancel">Cancel</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Reg Page -->
        </div>
        <!-- End Body Page -->
        <!-- End Body Page -->
        <app-footer></app-footer>
    </div>
</div>
