<div class="container-fluid landing-center">
    <div class="row">
        <app-nav>Home</app-nav>
        <!-- Body Page -->
        <div class="main-container">
            <div class="dashboard-page">
                <div class="about-us">
                    <div class="slider-run">
                        <div class="regular slider">
                            <div class="slider-here">
                                <div class="items">
                                    <p class="title"><span>Welcome to</span> Detect IT: Fish</p>
                                    <p class="text-detail">
                                        The power of big data can protect our oceans and dramatically improve lives in areas supported by the ocean.
                                        Detect IT: Fish is a web-based tool that identifies potential flows of illegal trade in seafood based on
                                        discrepancies in reported import and export data between countries.
                                    </p>
                                    <img src="images/i/208924.jpg" alt="IMG">
                                    <div class="black"></div>
                                </div>
                                <!-- Item -->
                            </div>
                        </div>

                        <!-- Slider Here -->
                    </div>
                    <!-- Slider Run  -->
                    <div class="about-detail">
                        <div class="cover-all">
                            <p class="title">
                                About
                            </p>
                            <p class="sub-title">
                                Developed by the World Wildlife Fund (WWF) and TRAFFIC and powered by HPE Vertica technology, Detect IT:
                                Fish enables automated collection, comparison, and analysis of customs data to help detect illegal trade
                                in seafood at a global scale.
                            </p>
                            <p class="sub-title">
                                By ending illegal fishing, together we will create economic opportunity for local fishermen,
                                ensure vital access to nutritious seafood, and provide a sustainable foundation for future generations.
                            </p>
                            <div class="cover-items">
                                <div class="item-about">
                                    <p class="title-about">
                                        Who should use <br>this tool?
                                    </p>
                                    <p class="cover-img">
                                        <img src="images/i/240336.jpg" alt="IMG">
                                    </p>
                                    <p class="text-detail">
                                        Fisheries, customs and other government officials, seafood businesses, non-governmental organizations, academic institutions, and others working to prevent illegal fishing.
                                    </p>
                                </div>
                                <!-- Item About -->
                                <div class="item-about">
                                    <p class="title-about">
                                        What does it do?<br>
                                    </p>
                                    <p class="cover-img">
                                        <img src="images/i/301014.jpg" alt="IMG">
                                    </p>
                                    <p class="text-detail">
                                        Detect IT: Fish provides an automated comparison of fisheries trade data between countries, and identifies discrepancies in reported import and export data to highlight potential trade in illegal products.
                                    </p>
                                </div>
                                <!-- Item About -->
                                <div class="item-about last">
                                    <p class="title-about">
                                        Where can it <br>
                                        be used?
                                    </p>
                                    <p class="cover-img">
                                        <img src="images/i/200453.jpg" alt="IMG">
                                    </p>
                                    <p class="text-detail">
                                        Stakeholders anywhere in the world can investigate trade flows for hundreds of fishery products in reported trade from over 170 countries.
                                    </p>
                                </div>
                                <!-- Item About -->
                            </div>
                            <!--  Item About -->
                            <div class="white"></div>
                        </div>
                    </div>
                </div>
                <!-- About Us -->
                <div class="clear"></div>
                <div class="app">
                    <div class="head-app gradien">
                        <div class="cover">
                            <div class="center-now">
                                <p class="title login-title">
                                    Start using the application now.
                                </p>
                                <a data-ng-click="vm.login()" class="login-btn">Login</a>
                                <p class="title login-title">
                                    Don’t have an account yet?
                                </p>
                                <a data-ng-click="vm.register()" class="login-btn">Register</a>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="body-app">
                        <div class="cover">
                            <p class="title">
                                <b>Features</b>
                                <span>Detect IT: Fish enables automated data collection, comparison, and analysis to help detect illegal trade of fishery products at a global scale.</span>
                            </p>
                            <div class="cover-group">
                                <div class="items">
                                    <div class="cover-text">
                                        <p class="title-i">Dashboard</p>
                                        <p class="text-detail">View trade between countries and of specific products and see trends in trade over time.</p>
                                    </div>
                                </div>
                                <div class="items">
                                    <div class="cover-text">
                                        <p class="title-i">Search Data</p>
                                        <p class="text-detail">Search trade data by time period, fishery product, and the partner countries.</p>
                                    </div>
                                </div>
                                <div class="items">
                                    <div class="cover-text">
                                        <p class="title-i">Alerts and Case Studies</p>
                                        <p class="text-detail">See alerts detected by the tool for possible illegal trade and case studies on known illegal trade.</p>
                                    </div>
                                </div>
                                <div class="items">
                                    <div class="cover-text">
                                        <p class="title-i">Forum</p>
                                        <p class="text-detail">Share and comment on search results, findings, and news stories.</p>
                                    </div>
                                </div>
                                <div class="items">
                                    <div class="cover-text">
                                        <p class="title-i">Tips & Best Practices</p>
                                        <p class="text-detail">A how-to user guide on Detect IT: Fish.</p>
                                    </div>
                                </div>
                                <div class="items">
                                    <div class="cover-text">
                                        <p class="title-i">Species Database</p>
                                        <p class="text-detail">Information on species that are searchable within the tool.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Body Page -->
        <!-- Footer -->
        <app-footer></app-footer>
        <!-- End Footer -->

    </div>
    <!-- Row -->
    <!-- Popup Login -->
    <div class="over-lay login-dark hide"></div>
    <!-- Dark Overlay -->
</div>
