<div class="container-fluid" data-jquery-augmentation>
  <div class="row">
   <app-nav menu-item="forum">Forum</app-nav>
      <!-- Body Page -->
      <div class="main-container">
        <div class="dash-page no-hidden-overflow compair">
          <div class="body-dash">
            <div class="cover-left">
              <div class="group-left">
                <div class="forum-head">
                  <p class="heading">
                    Forum
                  </p>
                  <div class="right-circle-btn">
                    <a href="javascript:;" class="tool">
                      <i class="icons"></i>
                    </a>
                  </div>
                  <div class="right-buttons">
                    <a href="javascript:;" class="save clone" data-ng-click="vm.refreshPage()">Refresh</a>
                    <a data-ng-show="userInfo.isLoggedIn" ui-sref="forumcreatepost" class="save">Create Post</a>
                  </div>
                </div>
                <!-- HEADING -->
                <div class="tag-menu forum-tag-menu">
                  <div class="main-tag">
                    <ul>
                      <li class="short active"><a href="javascript:;">All posts</a></li>
                    </ul>
                  </div>
                </div>
                <!-- TAG -->
                <div class="main-import">
                  <div class="cover-main">
                    <div class="filter-tags" data-ng-class="{active: vm.showFilterTags}">
                      <div class="filter-tag-head">
                        <p class="name">
                          Displaying {{vm.startItem}} - {{vm.endItem}} of {{vm.totalItems}} Posts
                        </p>
                        <a data-ng-click="vm.showFilterTags = !vm.showFilterTags" class="show-less">Hide Tags</a>
                        <a data-ng-click="vm.showFilterTags = !vm.showFilterTags" class="show-more">Show Tags</a>
                      </div>
                      <div class="filter-tag-body">
                        <div class="country">
                          <p class="lable">Partner Country :</p>
                          <div class="clear"></div>
                          <p data-ng-repeat="c in vm.partnerCountries" class="green-box" data-ng-class="{ readonly: !c.selected }">
                            {{ c.name }} 
                            <a data-ng-show="c.selected" data-ng-click="vm.rmPartnerCountry($index)"  class="icons unless"></a>
                          </p>
                        </div>                      
                        <a href="javascript:;" class="sub icons"></a>
                      </div>
                    </div>
                    <div class="clear"></div>
                    <div class="list-view forum-section">
                      <div class="table-container">
                        <table class="forum-table">
                          <thead>
                            <tr>
                              <th class="thread">Forum</th>
                              <th class="replies-col">Replies</th>
                              <th class="forum-member-col">Author</th>
                              <th class="forum-member-col">Last Post</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr data-ng-repeat="thread in vm.currentPageThreads">
                              <td class="thread">
                                <div class="thread-img">
                                  <img src="images/i/thread.png" alt="Icon">
                                </div>
                                <div class="thread-text">
                                  <p class="thread-title"><a ui-sref="forumpost({id: '{{thread.sys.id}}'})">{{ thread.fields.title }}</a><span class="open-group" data-ng-show="{{ thread.openGroup }}"> (Open Group)</span></p>
                                  <p class="thread-body">{{ thread.fields.description }}</p>
                                </div>
                              </td>
                              <td class="replies-col">{{ thread.fields.comments.length }}</td>
                              <td class="forum-member-col">
                                <div class="forum-member">
                                  <p class="profile-img">
                                    <img data-ng-src="{{ thread.avatar }}" alt="Profile picture">
                                  </p>
                                  <div class="group-text">
                                    <p class="name"><a ng-href="/publicprofile/{{ thread.fields.author }}">{{ thread.fields.author}}</a></p>
                                    <p class="when">{{ thread.when }}</p>
                                  </div>
                                </div>
                              </td>
                              <td class="forum-member-col">
                                <div class="forum-member">
                                  <p class="profile-img" data-ng-show="thread.lastComment.fields.author">
                                    <img data-ng-src="{{ thread.lastComment.avatar}}" alt="Profile picture">
                                  </p>
                                  <div class="group-text">
                                    <p class="name"><a ng-href="/publicprofile/{{ thread.lastComment.fields.author }}">{{ thread.lastComment.fields.author }}</a></p>
                                    <p class="when">{{ thread.lastComment.when }}</p>
                                  </div>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="clear"></div>
                        <custom-pagination current-page="vm.currentPage" default-page-size="vm.pageSize" total-items="{{ vm.totalItems }}" show-ellipsis="{{ true }}" change-page="vm.showPage" data-ng-show="vm.totalItems > 0"></custom-pagination>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Group One -->
            </div>
            <!-- Body Left -->

              <!-- Start Hot topics  -->
            <div class="cover-right">
                <hot-topics></hot-topics>
                <latest-posts></latest-posts>
            </div>
            <!-- Body Right -->

          </div>
        </div>
      </div>
      <div class="clear"></div>
    <app-footer></app-footer>
  </div>
</div>
