<div class="popup-login container-fluid">
    <div class="cover-all-ie">
        <div class="header-login">
            <div class="logo">
                <a href="javascript:;" class="bear">
                    <img src="images/i/logo.png" alt="logo">
                </a>
            </div>
            <a ng-click="lvm.cancel()" class="cancel icons"></a>
        </div>
        <div class="body-login">
            <div class="left">
                <p class="title white-text">
                    Welcome to
                    <span class="white-text">Detect IT: Fish</span>
                </p>
                <p class="text">
                    The power of big data can protect our oceans and dramatically improve lives in areas supported by the ocean. <br />
                    Detect IT: Fish is a web-based tool that identifies potential flows of illegal trade in seafood based on <br />
                    discrepancies in reported import and export data between countries.
                </p>
                <div class="bottom-icon">
                    <a href="javascript:;" class="icon-one icons"></a>
                    <a href="javascript:;" class="icon-two icons"></a>
                    <a href="javascript:;" class="icon-three icons"></a>
                    <a href="javascript:;" class="icon-four icons"></a>
                    <a href="javascript:;" class="icon-five icons"></a>
                    <a href="javascript:;" class="icon-six icons"></a>
                </div>
            </div>
            <div class="right">
                <div class="main-login" ng-class="{'active': lvm.errorMessage}">
                    <p class="black-text">
                        Hi there! Please login to continue
                    </p>
                    <p class="red-text">
                        {{lvm.errorMessage}}
                    </p>
                    <div class="group-input">
                        <input type="text" ng-model="lvm.username" placeholder="Username" tabindex="1">
                        <a href="javascript:;" class="icons"></a>
                        <a href="javascript:;" class="icons cancel"></a>
                    </div>
                    <div class="group-input clone">
                        <input type="password" ng-model="lvm.password" placeholder="Password" tabindex="2" data-enter-key="lvm.login()">
                        <a href="javascript:;" class="icons pass"></a>
                        <a href="javascript:;" class="icons cancel"></a>
                    </div>
                    <a ng-click="lvm.login()" class="btn-login" tabindex="3" data-enter-key="lvm.login()">Login</a>
                    <div class="rem-for">
                        <a data-ui-sref="forgotPassword({passwordResetKey: null})" data-ng-click="lvm.closeModal()" href="javascript:;" class="forgot" tabindex="4">Forgot password?</a>
                    </div>
                    <div class="clear"></div>
                    <p class="login-with">
                        OR LOGIN WITH
                    </p>
                    <div class="social">
                        <a href="javascript:;" class="face icons" ng-click="lvm.externalLogin('Facebook')" data-enter-key="lvm.externalLogin('Facebook')" tabindex="5"></a>
                        <a href="javascript:;" class="twin icons" ng-click="lvm.externalLogin('Twitter')" data-enter-key="lvm.externalLogin('Twitter')" tabindex="6"></a>
                        <a href="javascript:;" class="google icons" ng-click="lvm.externalLogin('Google')" data-enter-key="lvm.externalLogin('Google')" tabindex="7"></a>
                    </div>
                    <div class="clear"></div>
                    <p class="text-bottom">
                        Don’t have an account? <a href="" ng-click="lvm.register()" tabindex="8">Register Now</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <p class="text-footer white-text">
            © 2017 World Wildlife Fund All Rights Reserved
        </p>
    </div>
</div>
