<div class="container-fluid" data-jquery-augmentation>
    <div class="row">
        <app-nav menu-item="searchAlerts">
            <a href="" ui-sref="alertsearch">Search Alerts</a> <span>></span>  <i>Alert Details</i>
        </app-nav>
        <!-- Body Page -->
        <div class="main-container">
            <div class="dash-page compair">
                <div class="body-dash">
                    <div class="cover-left full">
                        <div class="group-left">
                            <div class="head">
                                <p class="heading">
                                    Alert Details
                                </p>
                                <div class="right-btn">
                                    <a href="javascript:;" class="load" data-ng-click="vm.downloadCsv()">
                                        <i class="icons"></i>
                                    </a>
                                    <a href="javascript:;" class="print"
                                       data-ng-click="vm.activeTab === 'chart' ? vm.downloadPdf('#alertDetailsLineChart') : vm.downloadPdf('#alertDetailsMap')">
                                        <i class="icons"></i>
                                    </a>
                                    <a href="javascript:;" class="share">
                                        <i class="icons"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- Name Query  -->
                            <div class="main-import">
                                <div class="cover-import">
                                    <div class="sub-tag">
                                        <ul>
                                            <li data-ng-class="{'active' : vm.activeTab==='chart'}"><a href="javascript:;" data-ng-click="vm.activeTab='chart'">Chart</a></li>
                                            <li data-ng-class="{'active' : vm.activeTab==='map'}"><a href="javascript:;" data-ng-click="vm.setActiveTab('map')">Map</a></li>
                                        </ul>
                                    </div>
                                    <div class="content-here">
                                        <div data-ng-show="vm.activeTab==='chart'" class="tag-chart tag-content">
                                            <div class="chart-here">
                                                <p class="title">Import / Export Summary {{vm.query.yearStart}} - {{vm.query.yearEnd}}</p>

                                                <div class="line-chart line-chart-new" id="alertDetailsLineChart"></div>
                                                <div class="map-export-pdf alert-detail">
                                                    <div class="left" >
                                                        <div class="info-head">Import / Export Summary</span><br/>
                                                            <span>{{vm.query.yearStart}} - {{vm.query.yearEnd}}</span>
                                                        </div>
                                                        <div class="info-body">
                                                            Importer: {{vm.alert.importerName}}<br/>
                                                            Exporter: {{vm.alert.exporterName}}<br/>
                                                            Commodity: {{vm.getCommodityById(vm.alert.commodityCode).name.trim()}}   
                                                        </div>
                                                    </div>
                                                    <div class="right">
                                                        <div class="image-container">
                                                            <img />
                                                            <div class="cover-point">
                                                                <p data-ng-repeat="legendPoint in vm.chartLegend" class="point">
                                                                    <span class="circle" data-ng-style="legendPoint.style"></span>
                                                                    {{legendPoint.name}}
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <p class="title">Import / Export Summary {{vm.query.yearStart}} - {{vm.query.yearEnd}}</p>
                                                        <div class="legends">
                                                            <div class="alert-legend import-export-alert-legend"><span></span>Import/Export netweight discrepancy | Threshold = {{vm.volumeDiscrepancyThreshold}}%</div>
                                                            <div class="alert-legend volume-changes-alert-legend"><span></span>Changes in netweight since last year | Threshold = {{vm.volumeChangesThreshold}}%</div>
                                                            <div class="alert-legend both-alerts-legend"><span></span>Import/Export netweight discrepancy and changes in netweight since last year</div>
                                                        </div>
                                                        <table ng-if="vm.tradeData.length > 0">
                                                            <thead>
                                                                <tr>
                                                                    <td>
                                                                        <a href=""><span>Year</span></a>
                                                                    </td>
                                                                    <td>
                                                                        <a href=""><span>Commodity Name</span></a>
                                                                    </td>
                                                                    <td>
                                                                        <a href=""><span>Importer</span></a>
                                                                    </td>
                                                                    <td>
                                                                        <a href=""><span>Importer netweightKg</span></a>
                                                                    </td>
                                                                    <td>
                                                                        <a href=""><span>Importer tradeValueUSD</span></a>
                                                                    </td>
                                                                    <td>
                                                                        <a href=""><span>Exporter</span></a>
                                                                    </td>
                                                                    <td>
                                                                        <a href=""><span>Exporter netweightKg</span></a>
                                                                    </td>
                                                                    <td>
                                                                        <a href=""><span>Exporter tradeValueUSD</span></a>
                                                                    </td>
                                                                    <td>
                                                                        <a href=""><span>Diff in netweightKg</span></a>
                                                                    </td>
                                                                    <td>
                                                                        <a href=""><span>Diff in tradeValueUSD</span></a>
                                                                    </td>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr data-ng-repeat="item in vm.tradeData | orderBy:sortType:sortReverse"
                                                                    data-ng-class="vm.yearAlertTypes[item.year].both
                                                                        ? 'both-alerts'
                                                                        : (vm.yearAlertTypes[item.year].importExport
                                                                            ? 'import-export-alert'
                                                                            : (vm.yearAlertTypes[item.year].volumeChanges ? 'volume-changes-alert' : ''))">
                                                                    <td><span>{{item.year}}</span></td>
                                                                    <td><span ng-bind-html="item.commodityName"></span></td>
                                                                    <td><span>{{item.importer}}</span></td>
                                                                    <td><span ng-if="item.importedVolumeDisplayValue !== '-'">{{item.importedVolumeDisplayValue | number:0}} kg</span><span ng-if="item.importedVolumeDisplayValue === '-'">-</span></td>
                                                                    <td><span ng-if="item.importedValueDisplayValue !== '-'">{{item.importedValueDisplayValue | currency:undefined:0 }}</span><span ng-if="item.importedValueDisplayValue === '-'">-</span></td>
                                                                    <td><span>{{item.exporter}}</span></td>
                                                                    <td><span ng-if="item.exportedVolumeDisplayValue !== '-'">{{item.exportedVolumeDisplayValue | number:0}} kg</span><span ng-if="item.exportedVolumeDisplayValue === '-'">-</span></td>
                                                                    <td><span ng-if="item.exportedValueDisplayValue !== '-'">{{item.exportedValueDisplayValue | currency:undefined:0 }}</span><span ng-if="item.exportedValueDisplayValue === '-'">-</span></td>
                                                                    <td><span ng-if="item.exportedVolumeDisplayValue !== '-' && item.importedVolumeDisplayValue !== '-'">{{item.volumeDiff | number:0}} kg</span><span ng-if="item.exportedVolumeDisplayValue === '-' || item.importedVolumeDisplayValue === '-'" >-</span></td>
                                                                    <td><span ng-if="item.exportedValueDisplayValue !== '-' && item.importedValueDisplayValue !== '-'">{{item.valueDiff | currency:undefined:0}}</span><span ng-if="item.exportedValueDisplayValue === '-' || item.importedValueDisplayValue === '-'">-</span></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <div class="no-data" ng-if="vm.tradeData.length === 0">
                                                            No Data
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="cover-point">
                                                    <p data-ng-repeat="legendPoint in vm.chartLegend" class="point">
                                                        <span class="circle" data-ng-style="legendPoint.style"></span>
                                                        {{legendPoint.name}}
                                                    </p>
                                                </div>
                                                <div class="tool-chart-sure">
                                                    <p class="title-tool">
                                                        2014 Discrepancy Details
                                                    </p>
                                                    <div class="main-tool">
                                                        <div class="items">
                                                            <p class="sub-titl">
                                                                Russia exports to USA, China, Japan,
                                                                South Korea :
                                                            </p>
                                                            <div class="head-item">
                                                                <span class="vol">
                                                                    Volume
                                                                </span>
                                                                <span class="val">
                                                                    Value
                                                                </span>
                                                            </div>
                                                            <span class="one">
                                                                2,500,000 kg
                                                            </span>
                                                            <span class="border">
                                                                |
                                                            </span>
                                                            <span class="one two">$ 25,000,000,00</span>
                                                        </div>
                                                        <div class="items">
                                                            <p class="sub-titl">
                                                                USA, China, Japan, South Korea imports
                                                                from Russia in :
                                                            </p>
                                                            <div class="head-item">
                                                                <span class="vol">
                                                                    Volume
                                                                </span>
                                                                <span class="val">
                                                                    Value
                                                                </span>
                                                            </div>
                                                            <span class="one">
                                                                5,000,000 kg
                                                            </span>
                                                            <span class="border">
                                                                |
                                                            </span>
                                                            <span class="one two">$ 50,000,000,00</span>
                                                        </div>
                                                        <div class="items">
                                                            <p class="sub-titl">
                                                                Discrepancy :
                                                            </p>
                                                            <div class="head-item">
                                                                <span class="vol">
                                                                    Volume
                                                                </span>
                                                                <span class="val">
                                                                    Value
                                                                </span>
                                                            </div>
                                                            <span class="one">
                                                                2,500,000 kg
                                                            </span>
                                                            <span class="border">
                                                                |
                                                            </span>
                                                            <span class="one two">$ 25,000,000,00</span>
                                                        </div>
                                                        <div class="items">
                                                            <p class="sub-titl">
                                                                Percentage :
                                                            </p>
                                                            <p class="red">
                                                                100%
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <span class="arrow_box">

                                                    </span>
                                                    <span class="arrow_box clone">

                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Chart-tag -->
                                        <div data-ng-show="vm.activeTab==='map'" class="tag-map tag-content">
                                            <div class="cover-map overflow-hidden">
                                                <p class="title">Import / Export Summary {{vm.query.yearStart}} - {{vm.query.yearEnd}}</p>
                                                <div id="alertDetailsMap" style="position: relative;"></div>
                                                <p class="point importers">Importer: {{vm.alert.importerName}}</p>
                                                <p class="point exporters">Exporter: {{vm.alert.exporterName}}</p>
                                                 <div class="ranger-year">
                                                    <input type="text" class="range-year" name="example_name" value="" />
                                                </div>
                                                <div class="map-export-pdf alert-detail">
                                                    <div class="left" >
                                                        <div class="info-head">Import / Export Summary</span><br/>
                                                            <span>{{vm.query.yearStart}} - {{vm.query.yearEnd}}</span>
                                                        </div>
                                                        <div class="info-body">
                                                            Importer: {{vm.alert.importerName}}<br/>
                                                            Exporter: {{vm.alert.exporterName}}<br/>
                                                            Commodity: {{vm.getCommodityById(vm.alert.commodityCode).name.trim()}}
                                                        </div>
                                                    </div>
                                                    <div class="right">
                                                        <div class="image-container">
                                                            <img />
                                                            <p class="point importers"><span class="circle importers"></span>Importer: {{vm.alert.importerName}}</p>
                                                            <p class="point exporters"><span class="circle exporters"></span>Exporter: {{vm.alert.exporterName}}</p>
                                                        </div>
                                                        <p class="title">Import / Export Summary {{vm.query.yearStart}} - {{vm.query.yearEnd}}</p>
                                                        <div class="legends">
                                                            <div class="alert-legend import-export-alert-legend"><span></span>Import/Export netweight discrepancy | Threshold = {{vm.volumeDiscrepancyThreshold}}%</div>
                                                            <div class="alert-legend volume-changes-alert-legend"><span></span>Changes in netweight since last year | Threshold = {{vm.volumeChangesThreshold}}%</div>
                                                            <div class="alert-legend both-alerts-legend"><span></span>Import/Export netweight discrepancy and changes in netweight since last year</div>
                                                        </div>
                                                        <table ng-if="vm.tradeData.length > 0">
                                                            <thead>
                                                                <tr>
                                                                    <td>
                                                                        <a href=""><span>Year</span></a>
                                                                    </td>
                                                                    <td>
                                                                        <a href=""><span>Commodity Name</span></a>
                                                                    </td>
                                                                    <td>
                                                                        <a href=""><span>Importer</span></a>
                                                                    </td>
                                                                    <td>
                                                                        <a href=""><span>Importer netweightKg</span></a>
                                                                    </td>
                                                                    <td>
                                                                        <a href=""><span>Importer tradeValueUSD</span></a>
                                                                    </td>
                                                                    <td>
                                                                        <a href=""><span>Exporter</span></a>
                                                                    </td>
                                                                    <td>
                                                                        <a href=""><span>Exporter netweightKg</span></a>
                                                                    </td>
                                                                    <td>
                                                                        <a href=""><span>Exporter tradeValueUSD</span></a>
                                                                    </td>
                                                                    <td>
                                                                        <a href=""><span>Diff in netweightKg</span></a>
                                                                    </td>
                                                                    <td>
                                                                        <a href=""><span>Diff in tradeValueUSD</span></a>
                                                                    </td>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr data-ng-repeat="item in vm.tradeData | orderBy:sortType:sortReverse"
                                                                    data-ng-class="vm.yearAlertTypes[item.year].both
                                                                        ? 'both-alerts'
                                                                        : (vm.yearAlertTypes[item.year].importExport
                                                                            ? 'import-export-alert'
                                                                            : (vm.yearAlertTypes[item.year].volumeChanges ? 'volume-changes-alert' : ''))">
                                                                    <td><span>{{item.year}}</span></td>
                                                                    <td><span ng-bind-html="item.commodityName"></span></td>
                                                                    <td><span>{{item.importer}}</span></td>
                                                                    <td><span ng-if="item.importedVolumeDisplayValue !== '-'">{{item.importedVolumeDisplayValue | number:0}} kg</span><span ng-if="item.importedVolumeDisplayValue === '-'">-</span></td>
                                                                    <td><span ng-if="item.importedValueDisplayValue !== '-'">{{item.importedValueDisplayValue | currency:undefined:0 }}</span><span ng-if="item.importedValueDisplayValue === '-'">-</span></td>
                                                                    <td><span>{{item.exporter}}</span></td>
                                                                    <td><span ng-if="item.exportedVolumeDisplayValue !== '-'">{{item.exportedVolumeDisplayValue | number:0}} kg</span><span ng-if="item.exportedVolumeDisplayValue === '-'">-</span></td>
                                                                    <td><span ng-if="item.exportedValueDisplayValue !== '-'">{{item.exportedValueDisplayValue | currency:undefined:0 }}</span><span ng-if="item.exportedValueDisplayValue === '-'">-</span></td>
                                                                    <td><span ng-if="item.exportedVolumeDisplayValue !== '-' && item.importedVolumeDisplayValue !== '-'">{{item.volumeDiff | number:0}} kg</span><span ng-if="item.exportedVolumeDisplayValue === '-' || item.importedVolumeDisplayValue === '-'" >-</span></td>
                                                                    <td><span ng-if="item.exportedValueDisplayValue !== '-' && item.importedValueDisplayValue !== '-'">{{item.valueDiff | currency:undefined:0}}</span><span ng-if="item.exportedValueDisplayValue === '-' || item.importedValueDisplayValue === '-'">-</span></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <div class="no-data" ng-if="vm.tradeData.length === 0">
                                                            No Data
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Map-tag -->
                                    </div>

                                    <div class="cover-comment">
                                        <div class="list-comment">
                                            <div class="tag-table tag-content">
                                                <div class="table-here">
                                                    <p class="title">Import / Export Summary {{vm.query.yearStart}} - {{vm.query.yearEnd}}</p>
                                                    <div class="alert-legend import-export-alert-legend"><span></span>Import/Export netweight discrepancy | Threshold = {{vm.volumeDiscrepancyThreshold}}%</div>
                                                    <div class="alert-legend volume-changes-alert-legend"><span></span>Changes in netweight since last year | Threshold = {{vm.volumeChangesThreshold}}%</div>
                                                    <div class="alert-legend both-alerts-legend"><span></span>Import/Export netweight discrepancy and changes in netweight since last year</div>
                                                    <table>
                                                        <thead>
                                                            <tr>
                                                                <td>
                                                                    <a href="" data-ng-click="sortType = 'year'; sortReverse = !sortReverse"><span>Year</span></a>
                                                                </td>
                                                                <td>
                                                                    <a href="" data-ng-click="sortType = 'commodityName'; sortReverse = !sortReverse"><span>Commodity Name</span></a>
                                                                </td>
                                                                <td>
                                                                    <a href="" data-ng-click="sortType = 'importer'; sortReverse = !sortReverse"><span>Importer</span></a>
                                                                </td>
                                                                <td>
                                                                    <a href="" data-ng-click="sortType = 'importedVolumeDisplayValue'; sortReverse = !sortReverse"><span>Importer netweightKg</span></a>
                                                                </td>
                                                                <td>
                                                                    <a href="" data-ng-click="sortType = 'importedValueDisplayValue'; sortReverse = !sortReverse"><span>Importer tradeValueUSD</span></a>
                                                                </td>
                                                                <td>
                                                                    <a href="" data-ng-click="sortType = 'exporter'; sortReverse = !sortReverse"><span>Exporter</span></a>
                                                                </td>
                                                                <td>
                                                                    <a href="" data-ng-click="sortType = 'exportedVolumeDisplayValue'; sortReverse = !sortReverse"><span>Exporter netweightKg</span></a>
                                                                </td>
                                                                <td>
                                                                    <a href="" data-ng-click="sortType = 'exportedValueDisplayValue'; sortReverse = !sortReverse"><span>Exporter tradeValueUSD</span></a>
                                                                </td>
                                                                <td>
                                                                    <a href="" data-ng-click="sortType = 'volumeDiff'; sortReverse = !sortReverse"><span>Diff in netweightKg</span></a>
                                                                </td>
                                                                <td>
                                                                    <a href="" data-ng-click="sortType = 'valueDiff'; sortReverse = !sortReverse"><span>Diff in tradeValueUSD</span></a>
                                                                </td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr data-ng-repeat="item in vm.tradeData | orderBy:sortType:sortReverse"
                                                                data-ng-class="vm.yearAlertTypes[item.year].both
                                                                    ? 'both-alerts'
                                                                    : (vm.yearAlertTypes[item.year].importExport
                                                                        ? 'import-export-alert'
                                                                        : (vm.yearAlertTypes[item.year].volumeChanges ? 'volume-changes-alert' : ''))">
                                                                <td><span>{{item.year}}</span></td>
                                                                <td><span ng-bind-html="item.commodityName"></span></td>
                                                                <td><span>{{item.importer}}</span></td>
                                                                <td><span ng-if="item.importedVolumeDisplayValue !== '-'">{{item.importedVolumeDisplayValue | number:0}} kg</span><span ng-if="item.importedVolumeDisplayValue === '-'">-</span></td>
                                                                <td><span ng-if="item.importedValueDisplayValue !== '-'">{{item.importedValueDisplayValue | currency:undefined:0 }}</span><span ng-if="item.importedValueDisplayValue === '-'">-</span></td>
                                                                <td><span>{{item.exporter}}</span></td>
                                                                <td><span ng-if="item.exportedVolumeDisplayValue !== '-'">{{item.exportedVolumeDisplayValue | number:0}} kg</span><span ng-if="item.exportedVolumeDisplayValue === '-'">-</span></td>
                                                                <td><span ng-if="item.exportedValueDisplayValue !== '-'">{{item.exportedValueDisplayValue | currency:undefined:0 }}</span><span ng-if="item.exportedValueDisplayValue === '-'">-</span></td>
                                                                <td><span ng-if="item.exportedVolumeDisplayValue !== '-' && item.importedVolumeDisplayValue !== '-'">{{item.volumeDiff | number:0}} kg</span><span ng-if="item.exportedVolumeDisplayValue === '-' || item.importedVolumeDisplayValue === '-'" >-</span></td>
                                                                <td><span ng-if="item.exportedValueDisplayValue !== '-' && item.importedValueDisplayValue !== '-'">{{item.valueDiff | currency:undefined:0}}</span><span ng-if="item.exportedValueDisplayValue === '-' || item.importedValueDisplayValue === '-'">-</span></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                            <p class="fine-print">Data is compiled from UN Comtrade data.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Import -->
                            </div>
                        </div>
                        <!-- Group One -->
                    </div>
                    <!-- Body Left -->

                </div>
            </div>
        </div>
        <div class="clear"></div>
        <app-footer></app-footer>
    </div>

    <!-- Popups -->
    <message show-message="vm.showMessage" message-title="vm.messageTitle" message-text="vm.messageText"></message>

    <div class="over-lay hide"></div>
    <!-- Dark Overlay -->
    <div class="setting-dash hide share-pop">
        <div class="title">
            <p>
                Publish to Forum
            </p>
        </div>
        <div class="main-popup">
            <div class="cover-all">
                <div class="group-input">
                    <p class="lable">
                        Title
                    </p>
                    <div class="drop-down-here" data-ng-class="{'validation-error' : vm.post.titleInvalid && !vm.post.title}">
                        <input type="text" placeholder="Enter post title here" class="quye" data-ng-model="vm.post.title">
                    </div>
                </div>
                <span class="border"></span>
                <br />
                <div class="group-input">
                    <p class="lable">
                        Include Graphic
                    </p>
                    <div class="drop-down-here clear-bg">
                        <div class="custommer">
                            <input type="checkbox" id="test99" name="foo" data-ng-model="vm.post.includeChart" />
                            <label for="test99">Chart</label>
                        </div>
                        <div class="custommer">
                            <input type="checkbox" id="test98" name="foo" data-ng-model="vm.post.includeMap" />
                            <label for="test98">Map</label>
                        </div>
                    </div>
                </div>
                <div class="group-input">
                    <p class="lable">
                        Include Data
                    </p>
                    <div class="drop-down-here clear-bg">
                        <div class="custommer">
                            <input type="checkbox" id="cbIncludeCSV" name="foo" data-ng-model="vm.post.includeCSV" />
                            <label for="cbIncludeCSV">CSV</label>
                        </div>
                    </div>
                </div>
                <span class="border"></span>
                <div class="country post-tags">
                    <p class="lable">Tags :</p>
                    <div class="clear"></div>
                    <p class="green-box" data-ng-repeat="tag in vm.post.tags">
                        {{tag}}
                        <a href="javascript:;" class="icons unless" data-ng-click="vm.removePostTag(tag)"></a>
                    </p>
                </div>
                <div class="clear"></div>
                <span class="border"></span>
                <br />
                <div class="group-input">
                    <p class="lable">
                        Initial Comment
                    </p>
                    <div class="drop-down-here" data-ng-class="{'validation-error' : vm.post.descrpitionInvalid && !vm.post.description}">
                        <textarea rows="4" cols="10" placeholder="Enter post details here" data-ng-model="vm.post.description"></textarea>
                    </div>
                </div>
                <span class="border"></span>
                <br />
                <br />

                <div class="btn-bottom">
                    <a href="javascript:;" class="cancel">Cancel</a>
                    <a href="javascript:;" class="save" data-ng-click="vm.publishToForum()">Publish</a>
                </div>
            </div>
        </div>
    </div>
    <!-- share-popup -->
    <!-- share-popup -->
    <div class="setting-dash hide save-query">
        <div class="title">
            <p>
                Save Query
            </p>
        </div>
        <div class="main-popup">
            <div class="cover-all">
                <div class="group-input">
                    <p class="lable">
                        Save Query as
                    </p>
                    <div class="drop-down-here input">
                        <input type="text" placeholder="Enter" />
                    </div>
                    <a href="javascript:;" class="sub icons"></a>
                </div>
                <span class="border"></span>
                <div class="btn-bottom">
                    <a href="javascript:;" class="cancel">Cancel</a>
                    <a href="javascript:;" class="save">Save</a>
                </div>
            </div>
        </div>
    </div>
</div>
